body {
    background-color: #212121; /* Dark background color */
}

h2, p, input, button {
    color: #fff; /* Light text color */
}

.login-container {
    max-width: 800px; /* Match the width of movie-search */
    margin: 40px auto; /* Center the container */
    padding: 50px; /* Padding around the content */
    background-color: #2e2929; /* Background for the login form */
    border: 1px solid #ddd; /* Border color */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow for depth */
}

input[type="text"], input[type="password"] {
    width: 97%; /* Match input width */
    height: 40px; /* Match input height */
    margin-bottom: 20px; /* Space between inputs */
    padding: 10px; /* Padding inside input */
    background-color: #333; /* Darker input background */
    color: #fff; /* Text color inside input */
    border: 1px solid #ccc; /* Input border color */
    border-radius: 5px; /* Rounded corners for inputs */
}

button[type="submit"] {
    width: 100%; /* Full width button */
    height: 40px; /* Match button height */
    background-color: #4CAF50; /* Green button background */
    color: #fff; /* Text color for button */
    border: none; /* No border */
    padding: 10px; /* Padding inside button */
    border-radius: 5px; /* Rounded corners for button */
    cursor: pointer; /* Pointer cursor on hover */
}

button[type="submit"]:hover {
    background-color: #3e8e41; /* Darker green on hover */
}

.error-message {
    color: white; /* Error message color */
    text-align: center; /* Center the error message */
    margin-top: 10px; /* Space above the error message */
}