.movie-search {
  max-width: 800px;
  margin: 40px auto;
  padding: 50px;
  background-color: #2e2929;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}

.movie-search h2 {
  margin-top: 0;
}

.movie-search form {
  margin-bottom: 20px;
  width: 100%;
}

.movie-search input[type="text"] {
  width: 97%;
  height: 40px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.movie-search button {
  width: 100%;
  height: 40px;
  background-color: #4CAF50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.movie-search button:hover {
  background-color: #3e8e41;
}

.movie-search button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.movie-info img {
  width: 100%;
  height: auto;
  max-height: 600px;
  object-fit: contain;
  border-radius: 10px 10px 0 0;
}

.movie-info img {
  width: 100%;
  height: 600px;
  /* object-fit: cover; */
  border-radius: 10px 10px 0 0;
}

.movie-info h3 {
  margin-top: 0;
}

.movie-info p {
  margin-bottom: 20px;
}

h3 {
  color: white;
}