.film-mosaic {
  margin: 30px 30px 40px 30px; 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
}
  
.film-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 }
  
.film-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
  
.film-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}
  
.film-card p {
  font-size: 14px;
  color: white;
  margin-bottom: 20px;
}

.film-card-footer {
  margin-top: auto; /* Move the footer to the bottom */
  padding-top: 10px; /* Add some padding to create space */
}

.Remove-button {
  background-color: #f51505;
  padding: 5px;
  border: 0;
  border-radius: 5%;
  color: #000;
}

image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}